<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
  
    <title>Setup Vue Without Vue-CLI</title>
    <meta name="description" content="How to create skeleton project in Vue.js from basic without Vue-CLI" />

  </head>
  <body>

    <div id="app"></div>

  </body>
</html>
